body {
  background-color: black;
  background-image: url("./img/background-image-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

header nav {
  width: 90%;
  margin: 3% auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e6e6;
  padding: 15px;
  border-radius: 40px;
}

header nav p {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

header nav a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  color: #0e0e0e;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

header nav a:hover {
  color: red;
  font-size: 0.95rem;
}

header nav a i {
  font-size: 1.5rem;
  padding-top: 1px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

header nav a i:hover {
  color: red;
}

.about {
  background-color: #e6e6e6;
  border-radius: 300px;
  width: 90%;
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 30%;
}

.about article {
  margin-left: 10%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about article h2 {
  font-family: 'Bebas Neue';
  font-size: 3vw;
  padding: 0;
}

.about article p {
  margin: auto;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1vw;
  line-height: 2;
}

.about article p span {
  font-weight: bold;
}

.about article p a {
  font-weight: bold;
  color: black;
}

.tech-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50px;
  width: 90%;
  height: 75px;
  background-color: #e6e6e6;
}

.tech-skills p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
}

.tech-skills h3 {
  font-family: "Bebas Neue";
  font-size: 2rem;
}

.client-project {
  background-color: #e6e6e6;
  border-radius: 300px;
  width: 90%;
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-project img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 31%;
}

.client-project article {
  margin-right: 10%;
  margin-left: 5%;
  margin-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-project article h3 {
  display: none;
}

.client-project article h2 {
  margin-top: 6.5%;
  font-family: 'Bebas Neue';
  font-size: 3vw;
  padding: 0;
}

.client-project article p {
  margin: auto;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1vw;
  line-height: 2;
}

.client-project article p span {
  font-weight: bold;
}

.client-project article div {
  height: 100px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-project article div a {
  width: 30%;
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 5%;
  border: 2px solid black;
  padding: 1.5%;
  border-radius: 50px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.client-project article div a:hover {
  background-color: black;
  color: white;
}

.punk-api {
  background-color: #e6e6e6;
  border-radius: 300px;
  width: 90%;
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.punk-api img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 31%;
}

.punk-api article {
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.punk-api article h3 {
  display: none;
}

.punk-api article h2 {
  margin-top: 6.5%;
  font-family: 'Bebas Neue';
  font-size: 3vw;
  padding: 0;
}

.punk-api article p {
  margin: auto;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1vw;
  line-height: 2;
}

.punk-api article p span {
  font-weight: bold;
}

.punk-api article p a {
  color: black;
}

.punk-api article div {
  height: 100px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.punk-api article div a {
  width: 30%;
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 5%;
  border: 2px solid black;
  padding: 1.5%;
  border-radius: 50px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.punk-api article div a:hover {
  background-color: black;
  color: white;
}

.minesweeper {
  background-color: #e6e6e6;
  border-radius: 300px;
  width: 90%;
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.minesweeper img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 31%;
}

.minesweeper article {
  margin-right: 10%;
  margin-left: 5%;
  margin-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.minesweeper article h3 {
  display: none;
}

.minesweeper article h2 {
  margin-top: 6.5%;
  font-family: 'Bebas Neue';
  font-size: 3vw;
  padding: 0;
}

.minesweeper article p {
  margin: auto;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1vw;
  line-height: 2;
}

.minesweeper article p span {
  font-weight: bold;
}

.minesweeper article div {
  height: 100px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.minesweeper article div a {
  width: 30%;
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 5%;
  border: 2px solid black;
  padding: 1.5%;
  border-radius: 50px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.minesweeper article div a:hover {
  background-color: black;
  color: white;
}

footer {
  height: 7.5vw;
  width: 90%;
  background-color: whitesmoke;
  border-radius: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

footer .links {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .links a {
  margin-right: 5%;
  text-decoration: none;
  font-size: 2vw;
  color: #0e0e0e;
}

footer a {
  margin-right: 5%;
  text-decoration: none;
  font-size: 3vw;
  font-family: 'Bebas Neue';
  color: #0e0e0e;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

footer a:hover {
  color: red;
}

@media only screen and (max-width: 800px) {
  .about {
    width: 95vw;
    margin: 10% auto 10% 2%;
  }
  .about img:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
  .about article {
    margin-right: 2%;
    margin-top: 1%;
  }
  .about article h2 {
    display: none;
  }
  .about article p {
    line-height: 1.3;
    font-size: 1.75vw;
  }
  .tech-skills p {
    font-size: 0.9rem;
  }
  .tech-skills h3 {
    font-size: 1.5rem;
  }
  .client-project {
    width: 95vw;
    margin: 10% auto 0 2%;
  }
  .client-project img {
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    width: 33%;
  }
  .client-project article {
    margin-top: 3%;
  }
  .client-project article h2 {
    display: none;
  }
  .client-project article p {
    line-height: 1.3;
    font-size: 1.5vw;
    margin-bottom: 0;
  }
  .client-project article div {
    margin-top: 5%;
    margin-bottom: 0;
    height: 20%;
    padding: 0;
  }
  .client-project article div a {
    font-size: 0.8rem;
    border: 2px solid black;
    padding: 0;
    margin: 0;
  }
  .punk-api {
    width: 95vw;
    margin: 10% auto 10% 2%;
  }
  .punk-api img {
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    width: 33%;
  }
  .punk-api article {
    margin-top: 5%;
  }
  .punk-api article h2 {
    display: none;
  }
  .punk-api article p {
    line-height: 1.3;
    font-size: 1.5vw;
    margin-bottom: 0;
  }
  .punk-api article div {
    margin-top: 5%;
    margin-bottom: 0;
    height: 20%;
    padding: 0;
  }
  .punk-api article div a {
    font-size: 0.8rem;
    border: 2px solid black;
    padding: 0;
    margin: 0;
  }
  .minesweeper {
    width: 95vw;
    margin: 10% auto 0 2%;
  }
  .minesweeper img {
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    width: 33%;
  }
  .minesweeper article {
    margin-top: 3%;
  }
  .minesweeper article h2 {
    display: none;
  }
  .minesweeper article p {
    line-height: 1.3;
    font-size: 1.5vw;
    margin-bottom: 0;
  }
  .minesweeper article div {
    margin-top: 5%;
    margin-bottom: 0;
    height: 20%;
    padding: 0;
  }
  .minesweeper article div a {
    font-size: 0.8rem;
    border: 2px solid black;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 430px) {
  body header {
    margin-top: 3vh;
    display: none;
  }
  body header nav a {
    font-size: 4vw;
  }
  body header nav .socials {
    display: none;
  }
  body .about {
    margin: 20%  auto;
    width: 80%;
    height: 250vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
  }
  body .about article {
    width: 80%;
  }
  body .about article p {
    margin-right: 6%;
    margin-top: 10%;
    margin-bottom: 60%;
    line-height: 2;
    font-size: 4vw;
  }
  body .about img {
    width: 100%;
  }
  body .tech-skills {
    height: 70vh;
    width: 40%;
    border-radius: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10% 0;
  }
  body .tech-skills h3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .client-project {
    margin: 30%  auto;
    width: 80%;
    height: 300vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .client-project article {
    width: 80%;
  }
  body .client-project article h3 {
    font-size: 1.5rem;
    font-family: "Bebas Neue";
    margin-left: 5%;
    margin-top: 50%;
    margin-bottom: 0;
    display: block;
  }
  body .client-project article p {
    margin-left: 6%;
    margin-top: 20%;
    line-height: 2;
    font-size: 4vw;
  }
  body .client-project img {
    width: 100%;
  }
  body .client-project div {
    width: 100%;
  }
  body .client-project div a {
    margin-bottom: 10%;
    margin-bottom: 10%;
  }
  body .punk-api {
    margin: 20%  auto;
    width: 80%;
    height: 300vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
  }
  body .punk-api article {
    margin-top: 20%;
    margin-bottom: 40%;
    width: 80%;
  }
  body .punk-api article h3 {
    margin-top: 0;
    font-family: "Bebas Neue";
    font-size: 1.5rem;
  }
  body .punk-api article p {
    margin-right: 6%;
    margin-bottom: 20%;
    line-height: 2;
    font-size: 4vw;
  }
  body .punk-api img {
    width: 100%;
  }
  body .punk-api div {
    width: 100%;
  }
  body .punk-api div a {
    margin-bottom: 5%;
  }
  body .minesweeper {
    margin: 30%  auto;
    width: 80%;
    height: 200vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .minesweeper article {
    width: 80%;
  }
  body .minesweeper article h3 {
    font-size: 1.5rem;
    font-family: "Bebas Neue";
    margin-left: 5%;
    margin-top: 50%;
    margin-bottom: 0;
    display: block;
  }
  body .minesweeper article p {
    margin-left: 6%;
    margin-top: 20%;
    line-height: 2;
    font-size: 4vw;
  }
  body .minesweeper img {
    width: 100%;
  }
  body .minesweeper div {
    width: 100%;
  }
  body .minesweeper div a {
    margin-bottom: 10%;
    margin-bottom: 10%;
  }
  body .development-projects {
    width: 90vw;
    height: 200vw;
    margin: 10% auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    gap: 1vw;
  }
  body .development-projects .project2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  body .development-projects .project4 {
    display: none;
  }
  body .development-projects .project5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  body .development-projects .project7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  body .contact {
    width: 95vw;
    height: 130vw;
    margin-bottom: 10vh;
  }
  body .contact form {
    height: 140vw;
  }
  body .contact form h2 {
    margin-top: 10vh;
    font-size: 10vw;
  }
  body .contact form fieldset {
    margin: auto;
    height: 70vw;
  }
  body .contact form fieldset input {
    margin: 0 auto;
    width: 90%;
    height: 10vw;
    font-size: 4vw;
  }
  body .contact form fieldset textarea {
    margin: 0 auto;
    width: 65vw;
    font-size: 4vw;
    height: 15vw;
  }
  body .contact form .submit {
    margin-bottom: 10vh;
    border-radius: 20vw;
    height: 10vh;
    width: 30vw;
    font-size: 5vw;
  }
  body footer {
    height: 20vw;
  }
  body footer .links a {
    font-size: 5vw;
    margin: 0 5vw;
  }
  body footer a {
    margin-right: 5vw;
    font-size: 5vw;
  }
}
/*# sourceMappingURL=index.css.map */