* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  overflow: hidden;
}

body {
  background-color: black;
}

body section .button {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

body section .button a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4vw;
  color: black;
  margin: auto;
  background-color: whitesmoke;
  height: 10vw;
  width: 20vw;
  line-height: 10vw;
  text-align: center;
  border-radius: 10vw;
  cursor: pointer;
  opacity: 1;
  display: none;
}

body section p, body section a {
  font-size: 1.5vw;
}

body section footer {
  background-color: whitesmoke;
  width: 100%;
  height: 55px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  opacity: 1;
}

body section:hover {
  opacity: 1;
}

body section button {
  background-color: transparent;
  border: none;
}

body section button a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body section button a:hover {
  color: red;
  font-size: 1.6vw;
}

body .video-large video {
  width: 100%;
  position: fixed;
  z-index: -10;
  -webkit-transform: translate(0%, -8%);
          transform: translate(0%, -8%);
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body .video-small video {
  position: fixed;
  z-index: -10;
  display: none;
}

@media only screen and (max-width: 1024px) {
  body section .button {
    display: unset;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body section .button a {
    display: unset;
  }
  body section footer {
    display: none;
  }
  body section .video-large video {
    display: none;
  }
  body section .video-small video {
    display: unset;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -10;
    -webkit-transform: translate(0%, -1%);
            transform: translate(0%, -1%);
    -webkit-animation-name: appear;
            animation-name: appear;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
/*# sourceMappingURL=index.css.map */